/* MAIN SECTION */
.contact-section {
    display: grid;
    margin-top: 60px;
    grid-template-columns: 1fr 1.5fr;
    gap: 70px;
    padding: 80px 90px;
    background: #f9f3ec;
    font-family: "Georgia", serif;
}

/* LEFT SIDE */
.contact-left h1 {
    font-size: 42px;
    color: #8a4f3d;
    margin-bottom: 25px;
    font-weight: lighter;
}

.contact-left .desc {
    width: 80%;
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 40px;
}

.small-title {
    margin-top: 35px;
    font-size: 30px;
    font-weight: 600;
    font-weight: lighter;
    font-style: italic;
}

.address {
    margin: 10px 0 5px;
    line-height: 1.5;
}

.map-link {
    font-size: 14px;
    text-decoration: underline;
    color: #6b6b6b;
}

.email-text {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

.social-icons {
    display: flex;
    gap: 25px;
    margin-top: 15px;
    font-size: 26px;
    color: #3f3f3f;
}

/* RIGHT SIDE FORM */
.contact-right label {
    display: block;
    margin: 20px 0 8px;
    font-size: 16px;
}

.contact-right input,
.contact-right select,
.contact-right textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #d0c8c2;
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
    outline: none;
}

.two-col {
    display: flex;
    gap: 25px;
}

.submit-btn {
    width: 100%;
    margin-top: 30px;
    background: #cfa595;
    color: white;
    padding: 15px;
    border-radius: 35px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.submit-btn:hover {
    background: #b98978;
}

.fa-brands {
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
    color: #191919;
}

.social-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
    object-fit: contain;
}

/* RESPONSIVE TABLET */
@media (max-width: 992px) {
    .contact-section {
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 60px 40px;
    }

    .contact-left .desc {
        width: 100%;
    }
}

/* RESPONSIVE MOBILE */
@media (max-width: 600px) {
    .contact-section {
        padding: 40px 25px;
    }

    .two-col {
        flex-direction: column;
        gap: 0;
    }

    .submit-btn {
        font-size: 16px;
        padding: 14px;
    }
}